table{
	margin: auto;
	background: #ffffff;

}
body{
	background: #00c0ff;
	padding: 20px;
}
p{
	text-align: center;

}
td{
	padding: 10px;
}
.file{
	width: 255px;
	font-size: 10px;
}
section{
	width: 60%;
	margin: 0 auto;
	background: #c0c0c0;
	padding: 20px;
}

 a{
	padding: 10px;
	background: #00c0ff;
	text-decoration: none;
	color: #000000;
}

a:hover{
	background: #fffff3;
	border-radius: 10px;
}